<div class="font-inter relative flex flex-col h-full overflow-y-auto shadow-2xl shadow-gray-700/50 p-4 transition-all duration-300"
  [class.w-64]="isOpen" [class.w-16]="!isOpen">

  <div class="flex items-center mb-6">
    <button (click)="toggleMenu()" class="text-2xl cursor-pointer">
      <span class="material-symbols-outlined">dehaze</span>
    </button>
  </div>

  <ul class="space-y-2 flex-1 mt-2">
      <li *ngFor="let item of menuItems" class="mt-3">
        <button (click)="onItemClick(item)"
          class="cursor-pointer w-full px-3 py-2 rounded-full flex items-center transition-colors duration-200 text-[17px] font-normal text-gray-900"
          [ngClass]="{
            'bg-[#a9f3eb]': activeSection === item.section,
            'hover:bg-[#baf1eb]': activeSection !== item.section,
            'hover:text-red-500': item.label === 'Logout',
            'justify-start': isOpen,
            'justify-center': !isOpen
          }"
          [attr.title]="item.label === 'Logout' && !isOpen ? 'Logout' : null">
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span *ngIf="isOpen" class="ml-2">{{ item.label }}</span>
        </button>
      </li>
  </ul>
</div>